/* make changes in styles.css, copy paste into https://madlittlemods.github.io/postcss-css-variables/playground/ to convert variables. Then copy into http://autoprefixer.github.io/ to support more browsers. Finally paste into style.production.css */

:root {
  /* colors */
 
  --pea-green: #597b32;
  --black: #000;
  --white: #fff;
  --red: #990000;

  /* colors end */

  --curved-corners: 3px;
  --bold: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial";
}

button,
.button {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
  padding: 10px;
  border-radius: var(--curved-corners);
  border: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.show-more:hover,
.show-more:focus {
  cursor: pointer;
  opacity: 0.6;
}

.hidden-info {
  display: none;
}

.hidden-info.isVisible {
  display: block;
}

.show-more {
  color: var(--red);
  display: inline-block;
  margin: 0;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/nature.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-inner {
  padding-top: 100px;
  padding-left: 80px;
}

.info-section {
  background-image: url("../img/old-paper.png");
  color: var(--black);
  padding: 20px 8%;
  animation: easeIn 1.5s;
}

.profile__item {
  text-align: center;
}

.projects {
  color: var(--black);
  margin: 20px 0;
  padding: 20px 0;
  border-top: 2px solid var(--black);
}

.project__image {
  width: 100%;
  border: 2px solid var(--white);
}

.page-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid var(--black);
}

.social-media a {
  text-decoration: none;
}

.intro1 {
  font-family: "New Tegomin", "monospace";
  background-color: var(--pea-green);
  color: var(--white);
  padding: 3px 0 3px 10px;
  animation: easeIn2 1s ease-out 0s;
}

.intro2 {
  font-family: "New Tegomin", "monospace";
  background-color: var(--pea-green);
  color: var(--white);
  padding: 3px 8px;
  animation: easeIn2 1.6s ease-out 0s;
}

.intro3 {
  font-family: "New Tegomin", "monospace";
  background-color: var(--pea-green);
  color: var(--white);
  padding: 3px 2px;
  animation: easeIn2 2.2s ease-out 0s;
}

.intro4 {
  font-family: "New Tegomin", "monospace";
  background-color: var(--pea-green);
  color: var(--white);
  kground-color: var(--white);
  padding: 3px 10px 3px 3px;
  animation: easeIn2 2.8s ease-out 0s;
}

.intro6 {
  font-family: "New Tegomin", "monospace";
  background-color: var(--pea-green);
  color: var(--white);
  padding: 3px 10px;
  animation: easeIn2 4.5s ease-out 0s;
}

.intro5,
.intro7,
.intro8 {
  display: none;
}

@keyframes easeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes easeIn2 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@media all and (max-width: 750px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 22px;
  }
}

@media all and (max-width: 650px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  .hero-inner {
    padding-left: 30px;
  }
}

@media all and (max-width: 470px) {
  .hero-inner {
    padding: 80px 0 0 30px;
  }
  .intro4,
  .intro6 {
    display: none;
  }
  .intro5 {
    display: inline-block;
    font-family: "New Tegomin", "monospace";
    background-color: var(--pea-green);
    color: var(--white);
    padding: 3px 10px;
    animation: easeIn2 2.8s ease-out 0s;
  }
  .intro7,
  .intro8 {
    display: inline-block;
    font-family: "New Tegomin", "monospace";
    background-color: var(--pea-green);
    color: var(--white);
    padding: 3px 10px;
    animation: easeIn2 4.5s ease-out 0s;
  }
}

@media all and (max-width: 300px) {
  h2 {
    font-size: 16px;
  }
}
