/* make changes in styles.css, copy paste into https://madlittlemods.github.io/postcss-css-variables/playground/ to convert variables. Then copy into http://autoprefixer.github.io/ to support more browsers. Finally paste into style.production.css */

:root {
  /* colors */

  --pea-green: #597b32;
  --black: #000;
  --grey: #615F53;
  --white: #fff;
  --red: #990000;

  /* colors end */

  --curved-corners: 3px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial";
}

h1,
h2 {
  letter-spacing: 0.04em;
}

p {
  letter-spacing: 0.04em;
  line-height: 150%;
  color: var(--grey);
}

ul {
  list-style-type: circle;
  color: var(--red);
}

button,
.button {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
  padding: 10px;
  border-radius: var(--curved-corners);
  border: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.show-more:hover,
.show-more:focus,
.link:hover,
.link:focus {
  cursor: pointer;
  opacity: 0.6;
}

.view-project {
  color: var(--red);
}

.hidden-info {
  display: none;
}

.hidden-info.isVisible {
  display: block;
}

.show-more {
  color: var(--red);
  display: inline-block;
  margin: 0;
}

.link {
  color: var(--red);
  text-decoration: none;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/nature.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-inner {
  padding-top: 100px;
  padding-left: 80px;
}

.main-section {
  background-image: url("../img/old-paper.png");
  color: var(--black);
  padding: 20px 8%;
  animation: easeIn 1.5s;
}

.project-section {
  padding-bottom: 30px;
}

.bio {
  color: var(--black);
  margin: 20px 0;
  padding: 20px 0;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills li {
  padding: 10px 80px 20px 0;
}

.project__item:last-child {
  color: var(--black);
  padding-bottom: 70px;
}

.project-image {
  width: 100%;
  border: 5px solid var(--white);
}

.page-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 2px solid var(--black);
}

.page-footer__text {
  margin: 3px;
}

.social-media {
  padding: 15px 0;
}

.social-media a {
  text-decoration: none;
  padding: 15px;
}

.email-icon {
  height: 50px;
}

.intro1 {
  font-family: "New Tegomin", "monospace";
  background-color: var(--pea-green);
  color: var(--white);
  padding: 3px 0 3px 10px;
  animation: easeIn2 1s ease-out 0s;
}

.intro2 {
  font-family: "New Tegomin", "monospace";
  background-color: var(--pea-green);
  color: var(--white);
  padding: 3px 8px;
  animation: easeIn2 1.6s ease-out 0s;
}

.intro3 {
  font-family: "New Tegomin", "monospace";
  background-color: var(--pea-green);
  color: var(--white);
  padding: 3px 2px;
  animation: easeIn2 2.2s ease-out 0s;
}

.intro4 {
  font-family: "New Tegomin", "monospace";
  background-color: var(--pea-green);
  color: var(--white);
  padding: 3px 10px 3px 3px;
  animation: easeIn2 2.8s ease-out 0s;
}

.intro6 {
  font-family: "New Tegomin", "monospace";
  background-color: var(--pea-green);
  color: var(--white);
  padding: 3px 10px;
  animation: easeIn2 4.5s ease-out 0s;
}

.intro5,
.intro7,
.intro8 {
  display: none;
}

@keyframes easeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes easeIn2 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/* to prevent hero screen jumping on mobiles when url bar disappears */
@media (max-device-aspect-ratio: 3/4) {
  height: calc(100vw * 1.333 - 9%);
}
@media (max-device-aspect-ratio: 2/3) {
  height: calc(100vw * 1.5 - 9%);
}
@media (max-device-aspect-ratio: 10/16) {
  height: calc(100vw * 1.6 - 9%);
}
@media (max-device-aspect-ratio: 9/16) {
  height: calc(100vw * 1.778 - 9%);
}

@media all and (max-width: 750px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 22px;
  }
}

@media all and (max-width: 650px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  .hero-inner {
    padding-left: 30px;
  }
}

@media all and (max-width: 470px) {
  .hero-inner {
    padding: 70px 0 0 30px;
  }
  .intro4,
  .intro6 {
    display: none;
  }
  .intro5 {
    display: inline-block;
    font-family: "New Tegomin", "monospace";
    background-color: var(--pea-green);
    color: var(--white);
    padding: 3px 10px;
    animation: easeIn2 2.8s ease-out 0s;
  }
  .intro7,
  .intro8 {
    display: inline-block;
    font-family: "New Tegomin", "monospace";
    background-color: var(--pea-green);
    color: var(--white);
    padding: 3px 10px;
    animation: easeIn2 4.5s ease-out 0s;
  }
}

@media all and (max-width: 300px) {
  h2 {
    font-size: 16px;
  }
}

@media all and (min-width: 1100px) {
  .project {
    display: flex;
    flex-direction: row;
  }
  .project__item {
   width: 50%;
   justify-content: space-between;
  }
  .project__item:first-child {
    padding: 25px 70px 25px 0;
  }
  .project-section {
    padding-bottom: 60px;
  }
}
